.tab {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}

.tab.active {
  background-color: #f0f0f0;
}

.tab-content {
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px;
}
